<div class="row">
  <div class="columns text-center">
    <h3>Make a List!</h3>
  </div>
</div>

<div class="row">
  <div class="columns text-center">
    <h3>Search for some recipes!</h3>
  </div>
</div>

<div class="">
  <%= link_to "test api", api_v1_user_recipes_path %>
  <%= link_to "test api", api_v1_user_recipes_path %>
</div>

<div id="app">
</div>
