<!-- <div class="row">
  <div class="columns text-center">
    <h3>Make a List!</h3>
  </div>
</div>

<div class="row">
  <div class="columns text-center">
    <h3>Search for some recipes!</h3>
  </div>
</div> -->

<div class="">
  <%= link_to "test api", api_v1_user_recipes_path %></br>
  <%= link_to "user api", api_v1_users_path %>
</div>
<% if current_user.present? %>
    <div id="app">
    </div>
  <% else %>
    <h1>Please Log in first!</h1>
<% end %>
