<div class='site-background'>
 <!-- <div class="row">
    <div class="columns text-center title header-image">
    </div>
  </div> -->
  <div class="row">
    <% if current_user.present? %>
        <div id="app" class="react-components">
        </div>
      <% else %>
        <h3 class="text-center">Please Log in first!</h3>
    <% end %>
  </div>
</div>
