<div class="row">
  <div class="columns text-center">
    <h3>Make a List!</h3>
  </div>
</div>

<div class="row">
  <div class="columns text-center">
    <h3>Search for some recipes!</h3>
  </div>
</div>
