<h1>Hello <%=current_user.username %>!</h1>
<div class="row columns-centered">
  <div class="small-3 columns">
    <h5>Search Recipes</h5>
  </div>
  <div class="small-3 columns">
    <h5>My Recipes</h5>
  </div>
  <div class="small-3 columns">
    <h5>Add a Recipe</h5>
  </div>
  <div class="small-3 columns">
    <h5>GroceryList</h5>
  </div>
</div>
