$greyblue: #B4DEBE;
$bluegreen: #0E8D94;
$smoothgrey: #666666;


.selected-ingredient{
  background: lighten(grey,40%);
  border-radius: 10px;
  text-decoration: line-through;
}

.unselected-ingredient{
  color: darken($smoothgrey, 20%);
  background: darken($greyblue, 10%);
  border-radius: 10px;
  padding-left:5px;
  padding-right:5px;
}

.unselected-ingredient:hover{
  cursor: pointer; cursor: hand;
}
.selected-ingredient:hover{
  cursor: pointer; cursor: hand;
}

.select-recipes-button{
  margin-top: 5px;
  margin-left: 35px;
}

.item-ul{
  margin-left: 0px;
}

.old-lists{
  background: lighten($bluegreen, 5%);
  color: darken($smoothgrey, 30%);
  border-radius: 30px;
  opacity: 0.75;
}

.old-lists:hover{
  background: $bluegreen;
  cursor: pointer;
}

.list-title-form{
  // margin-left: 400px;
  padding-left: 0px;
}

.list-header{
  border-bottom: 1px solid $greyblue;
  font-size: 28px;
  // width: 10em;
}

.ingredients-list-header{
  border-bottom: 1px solid $greyblue;
  margin-bottom: 2px;
  font-size: 30px;
}

.grocerylist-subheader{
  margin-bottom: 3px;
  font-size: 15px;
}

.ingredient-list-div{
  padding-left: 0px;
}
.ingredient-amount-div{
  padding-right: 0px;
}

.grocery-list-font{
  font-size: 20px;
}
.grocery-list-ingredient-font{
  font-size: 20px;
}


@media only screen and (max-width: 450px) {
   .grocery-list-ingredient-font {
      font-size: 18px;
    }
    .grocery-list-font{
      font-size: 18px;
    }
}
