$greyblue: #B4DEBE;
$bluegreen: #0E8D94;

.recipe-header{
  border-bottom: 1px solid black;
}

.error-message{
  color: red;
  font-size: 10px;
}

.selected-recipe{
  color: $bluegreen;
  background: $greyblue;
  border-radius: 10px;
}

.recipe-padding{
  width: 8em;
}
