$greyblue: #B4DEBE;
$bluegreen: #0E8D94;
$smoothgrey: #666666;

.recipe-header{
  border-bottom: 1px solid black;
  margin-left: 5px;
  padding-left: 15px;
}

.error-message{
  color: red;
  font-size: 10px;
}

.selected-recipe{
  color: darken($smoothgrey, 20%);
  background: darken($greyblue, 10%);
  border-radius: 10px;
  padding-left:5px;
  padding-right:5px;
}

.select-recipe:hover{
  cursor: pointer; cursor: hand;
}

.unselected-recipe{
  background: lighten(grey,40%);
  border-radius: 10px;
}
.unselected-recipe:hover{
  background: $greyblue;
  cursor: pointer; cursor: hand;
}
@media only screen and (max-width: 450px) {
   .unselected-recipe:hover{
      background: lighten(grey,40%);
      }
}

.wrap-recipes{
  margin-left: 5px;
  margin-right: 5px;
}
.recipe-list{
  list-style: none;
}

.list-header{
  border-bottom: 1px solid $greyblue;
  // width: 10em;
}


.front-recipe-links{
  background-color: lighten($greyblue, 5%);
  border-radius: 30px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.front-recipe-links:hover{
  background-color: lighten($greyblue, 0%);

}
.title-header{
  text-decoration: none;
  border-bottom: 2px solid $greyblue;
  padding-left: 75px;
  padding-right: 75px;
  font-size: 35px;
}

.select-recipes-header{
  text-decoration: none;
  border-bottom: 2px solid $greyblue;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 35px;
}
.sub-title-header{
  text-decoration: none;
  border-bottom: 2px solid $greyblue;
  padding-left: 40px;
  padding-right: 40px;
  // font-size: 35px;
}

.title-header3{
  margin-bottom: 10px;
}

.recipe-links{
  margin-bottom: 1em;
  // font-size: 18px;
  // padding-bottom: 1em;
  // background-color: black;
}

.start-button{
  // padding-left: 0;
}

.recipe-title-form{
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 30px;
  // box-shadow: 1px 1px 5px;
}

.delete-recipes-button{
  border: solid 1px lighten($smoothgrey, 10%);
  padding: 5px 15px;
  font-size: 15px;
  border-radius: 10px;
  color: lighten($smoothgrey, 10%);

}

.delete-recipes-button:hover{
  cursor: pointer;
  background: lighten(red, 30%);
  // margin-left:20px;
}

@media only screen and (max-width: 450px) {
  .delete-recipes-button{
    padding-left: 20px;
    margin-left: 10px;
  }
}


.delete-button{
  color:red;
  margin-right: 3px;
  padding: 3px;
  // background-color: red;
  // border-radius: 40%;
}

.delete-button:hover{
  cursor: pointer;
}
//
// .item-ul{
//   margin-left: 0px;
//   // font-size: 10px;
// }

// .selected-ingredient{
//   background: lighten(grey,40%);
//   border-radius: 10px;
//   text-decoration: line-through;
// }
//
// .unselected-ingredient{
//   color: darken($smoothgrey, 20%);
//   background: darken($greyblue, 10%);
//   border-radius: 10px;
//   padding-left:5px;
//   padding-right:5px;
// }
//
// .unselected-ingredient:hover{
//   cursor: pointer; cursor: hand;
// }
// .selected-ingredient:hover{
//   cursor: pointer; cursor: hand;
// }
//
// .select-recipes-button{
//   margin-top: 5px;
//   margin-left: 35px;
// }
