$greyblue: #B4DEBE;
$bluegreen: #0E8D94;

.recipe-header{
  border-bottom: 1px solid black;
}

.error-message{
  color: red;
  font-size: 10px;
}

.selected-recipe{
  color: $bluegreen;
  background: $greyblue;
  border-radius: 10px;
}

.recipe-list{
  list-style: none;
}

.list-header{
  border-bottom: 1px solid $greyblue;
  // width: 10em;
}

.link-header{
  text-decoration: none;
  border-bottom: 2px solid $greyblue;
  padding-left: 75px;
  padding-right: 75px;
  font-size: 35px;
}

.recipe-links{
  margin-bottom: 10em;
  padding-bottom: 10em;
  // background-color: black;
}
