$peagreen: #B4DF37;
$teal: #77CCA4;
$offwhite: #F0F0D8;
$greyblue: #B4DEBE;
$smoothgrey: #666666;
$bluegreen: #0E8D94;
$lightgreen: #F3FFCF;
@import url('https://fonts.googleapis.com/css?family=Pinyon+Script|Roboto');
// font-family: 'Pinyon Script', cursive;
// font-family: 'Roboto', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');
// font-family: 'Open Sans', sans-serif;
// font-family: 'Pacifico', cursive;

body{
  background-color: $offwhite;
  color: $smoothgrey;
}

.username{
  color:$bluegreen;
}

// .user-buttons{
//
// }

// keep example media query to reference
// @media only screen and (max-width: 450px) {
//    body {
//   font-size: .5em;
//   background-color: red;
//       }
// }

.title{
  font-family: 'Pinyon Script', cursive;
}

.app-title{
  font-family: 'Pacifico', cursive;
  // font-family: 'Pinyon Script', cursive;
  font-size: 2em;
}

@media only screen and (max-width: 450px) {
   .app-title{
    font-size: 25px;
      }
}

.header{
  background-color: $greyblue;
  padding-top:5px;
  padding-left:5px;
  padding-right:5px;
  height: 3.5em;
}

.site-background{
  background-color: $offwhite;
  color: $smoothgrey;
}

a {
  color: $bluegreen;
  // border: solid 1px black;
  // margin-bottom: 5em;
  // padding-bottom: 5em
}

ul{
  list-style: none;
}

.devise-background{
  input[type="submit"]{
    background: $greyblue;
    border-radius: 10px;
    outline: none;

  }
}


.top-bar-logout{
  margin-top: 8px;
}
.button{
  border-radius: 10px;
  background-color: darken($greyblue, 15%);
  width: 100px;
  outline: none;
}

.button:hover{
  background-color: darken($greyblue, 35%) ;
}

.button:focus{
  background-color: darken($greyblue, 35%) ;
}

.hidden{
  display: none;
}

// for testing out colors
.peagreen{
  background-color: $peagreen;
}
.off-white{
  background-color: $offwhite;
}
.grey-blue{
  background-color: $greyblue;
}
.smooth-grey{
  background-color:$smoothgrey;
}
.light-green{
  background-color:$lightgreen;
}
