$peagreen: #B4DF37;
$teal: #77CCA4;
$offwhite: #F0F0D8;
$greyblue: #B4DEBE;
$smoothgrey: #666666;
$bluegreen: #0E8D94;
$lightgreen: #F3FFCF;
@import url('https://fonts.googleapis.com/css?family=Pinyon+Script|Roboto');
// font-family: 'Pinyon Script', cursive;
// font-family: 'Roboto', sans-serif;

body{
  background-color: $offwhite;
  color: $smoothgrey;
}

.title{
  font-family: 'Pinyon Script', cursive;
}

.app-title{
  font-family: 'Pinyon Script', cursive;
  font-size: 2em;
}

.header{
  background-color: $greyblue;
  padding-top:5px;
  padding-left:5px;
  padding-right:5px;
  height: 3.5em;
}

.site-background{
  background-color: $offwhite;
  color: $smoothgrey;
}

a {
  color: $bluegreen;
}

.peagreen{
  background-color: $peagreen;
}
.off-white{
  background-color: $offwhite;
}
.grey-blue{
  background-color: $greyblue;
}
.smooth-grey{
  background-color:$smoothgrey;
}
.light-green{
  background-color:$lightgreen;
}
